html {
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    color: white;
    background-color: #eb444f;
    text-align: center;
    padding: 40px 40px;
}
p {
    position: relative;
}

.card-deck {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.card {
    width: 100%;
    box-shadow: 2px 5px 5px black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-top {
    background-color: #1c77ed;
    color: white;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 5px;
}
.card-bottom {
    border: 1px solid lightgray;
    margin: 15px;
    background-color:white;
}
.email {
    border-top: 1px solid lightgray;
    padding-top: 5px;
}
.roleAnswer {
    border-top: 1px solid lightgray;
    padding-top: 10px;
}